<!DOCTYPE html>
<html lang="ru" class="h-full">
<head>
    <link type="text/css" href="{{ url_for('static', filename='css/styles.css')}}" rel="stylesheet" />
    <meta charset="UTF-8">
    {% block title %}
        {% if title %}
                 <title>БГИТУ - {{title}}</title>
        {% else %}
                 <title>БГИТУ</title>
        {% endif %}
    {% endblock %}
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="h-full flex flex-col bg-gray-50">
    <header class="py-5 bg-sky-900 text-slate-100 text-xl">
        <div class="px-4 container mx-auto">
            <div class="flex justify-between">
                <a href="/">Палий Константин</a>
                <nav class="list-none flex gap-x-8">
                    {% for m in menu %}
                        <li><a href="{{m.url}}" class="hover:text-sky-300">{{m.name}}</a></li>
                    {% endfor %}
                </nav>
            </div>
        </div>
    </header>
    <main class="py-20 bg-gray-50 h-full flex-1">
        <div class="container mx-auto px-4">
            {% if title -%}
                <h1 class="text-6xl font-bold">{{title}}</h1>
            {% else -%}
                <h1 class="text-5xl font-bold">Про Flask</h1>
            {% endif -%}

            {% block content %}

            {% endblock %}
        </div>
    </main>
    <footer class="py-10 mt-40">
        <div class="container mx-auto px-4">
            <nav class="list-none flex gap-x-8 items-center justify-center">
                {% for m in menu %}
                    <li><a href="{{m.url}}" class="text-slate-900 hover:text-slate-500">{{m.name}}</a></li>
                {% endfor %}
            </nav>
        </div>
    </footer>
</body>
</html>