{% extends 'base.html' %}
 
{% block content %}
{{ super() }}
<p class="text-xl font-bold mt-5">Метод k -ближайших соседей (KNN)</p>
<form class="space-y-6 mt-5" action="/p_knn" method="POST">
    <div class="w-full max-w-xl mb-6">
        <p>
            <input type="text" name="list1" class="appearance-none block w-full bg-white border border-gray-300 rounded-md py-2 px-3 leading-tight focus:outline-none focus:border-indigo-500" placeholder="Длина чашелистика">
        </p>
    </div>
    <div class="w-full max-w-xl mb-6">
        <p>
            <input type="text" name="list2" class="appearance-none block w-full bg-white border border-gray-300 rounded-md py-2 px-3 leading-tight focus:outline-none focus:border-indigo-500" placeholder="Ширина чашелистика">
        </p>
    </div>
    <div class="w-full max-w-xl mb-6">
        <p>
            <input type="text" name="list3" class="appearance-none block w-full bg-white border border-gray-300 rounded-md py-2 px-3 leading-tight focus:outline-none focus:border-indigo-500" placeholder="Длина лепестка">
        </p>
    </div>
    <div class="w-full max-w-xl mb-6">
        <p>
            <input type="text" name="list4" class="appearance-none block w-full bg-white border border-gray-300 rounded-md py-2 px-3 leading-tight focus:outline-none focus:border-indigo-500" placeholder="Ширина лепестка">
        </p>
    </div>
    <button type="submit" class="group relative py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
        Узнать сорт
    </button>
</form>

    <div class="mt-2 font-bold text-3xl">
        {{ class_model }}
    </div>

    <div class="mt-12">
        <h2 class="font-bold text-3xl mb-1 text-center">
            Метрика
        </h2>
        <ol class="mt-5">
            {% for metric in metrics[:3] %}
                {% if metric.type == "KNN" %}
            <li>
                <b>{{ metric.name }}: </b>Predicted: {{ metric.value.Predicted}} <br>
                                            Actual: {{ metric.value.Actual }}
            </li>
                {% endif %}
            {% endfor %}

            {% for metric in metrics[3:] %}
                {% if metric.type == "KNN" %}
            <li>
                <b>{{ metric.name }}: </b> {{ metric.value }}
            </li>
                {% endif %}
            {% endfor %}
        </ol>
    </div>
{% endblock %}